{
  "extends": [
    "@moonstar-x/eslint-config/rules/node",
    "@moonstar-x/eslint-config/rules/typescript"
  ],
  "rules": {
    "no-console": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}